@font-face {
  font-family: 'MyFont';
  src: url('./fonts/regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'MyFont';
  src: url('./fonts/bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'MyFont';
  src: url('./fonts/extrabold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}
